# Ignore RProject files
*.Rproj.user
*.Rhistory
*.RData
*.dcf
*.rds
*.httr-oauth
.httr-oauth
.Rproj.user
.DS_Store

site/
_site/
public/
draft-blogs/

# Google Analytics Code
google-analytics.js

# Attempt to be clever about Meeting Notes
MeetingNotes.Rmd

# Usage is private
Usage/

# {secret}
static/data/secret-keys.R
static/data/secret-vault.vault