    <!DOCTYPE html>
    <html lang="{{ .Site.LanguageCode }}">

    <head>

        {{ partial "head.html" . }}


        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet">

        <script src="/js/htmlwidgets.js"></script>
        <script src="/js/timevis.js"></script>

        <link href="/css/timevis.css" rel="stylesheet">

    </head>

    <body>

        <script>
            AOS.init({
                duration: 1200,
            })

        </script>


        <header>

            {{ partial "top.html" . }}

            {{ partial "nav.html" . }}

        </header>



        <div class="front-page-header" style="width:100%;">

            <div class="container" style="width:90%">

                <div class="row">

                    <div class="col-xl-1 col-lg-1 col-md-1">

                    </div>

                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">

                        <div class="first-page-title">

                            <div class="card-body v-center">

                                <h2 style="color:white">Finding youR way</h2>
                                <span>R is not software.</span>
                                <br>
                                <span>It's a scripting language, a vast collection of tools and a vibrant user community.</span>
                                <br>
                                <br>
                                <span>You can't <i>master</i> R</span>
                                <br>
                                <span>But you can become <strong>fluent</strong> in using it.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">

                        <div class="row top-buffer">

                            <div class="col-xs-6">

                                <div class="card border-primary" style="width:100%;height:120px;background-color:#66c2a5;text-decoration-color:white;color:white">
                                    <div class="card-body v-center">
                                        <center>
                                            <h3 class="card-title">Code</h3>

                                            <i class="fas fa-file-code fa-3x"></i>
                                        </center>

                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-6">

                                <div class="card border-primary" style="width:100%;height:120px;background-color:#fc8d62;color:white;">
                                    <div class="card-body v-center">
                                        <center>
                                            <h3 class="card-title">Workflow</h3>

                                            <i class="fas fa-cogs fa-3x"></i>
                                        </center>

                                    </div>
                                </div>

                            </div>


                        </div>

                        <div class="row top-buffer">

                            <div class="col-xs-6">

                                <div class="card border-primary" style="width:100%;height:120px;background-color:#8da0cb;color:white;">
                                    <div class="card-body v-center">
                                        <center>
                                            <h3 class="card-title">Data</h3>

                                            <i class="fas fa-database fa-3x"></i>
                                        </center>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-6">

                                <div class="card border-primary" style="width:100%;height:120px;background-color:#e78ac3;color:white;">
                                    <div class="card-body v-center">
                                        <center>
                                            <h3 class="card-title">Communicate</h3>

                                            <i class="fas fa-chart-bar fa-3x"></i>
                                        </center>
                                    </div>
                                </div>

                            </div>



                        </div>

                        <div class="row top-buffer">

                            <div class="col-xs-6">

                                <div class="card border-primary" style="width:100%;height:120px;background-color:#a6d854;color:white;">
                                    <div class="card-body v-center">
                                        <center>
                                            <h3 class="card-title">Program</h3>

                                            <i class="fas fa-sync-alt fa-3x"></i>
                                        </center>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-6">

                                <div class="card border-primary" style="width:100%;height:120px;background-color:#9E9E9E;color:white;">
                                    <div class="card-body v-center">
                                        <center>
                                            <h3 class="card-title">Deprecation</h3>

                                            <i class="fas fa-exclamation-triangle fa-3x"></i>

                                        </center>
                                    </div>
                                </div>

                            </div>



                        </div>




                    </div>

                    <div class="col-xl-1 col-lg-1 col-md-1">

                    </div>

                </div>


            </div>
        </div>

        <div class="container" style="padding-top:40px">


            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-4">
                        <a href="/on-demand-learning">
                            <div class="box-simple">

                                <div class="icon">
                                    <i class="fa fa-laptop-code" aria-hidden="true"></i>
                                </div>
                                <h3>On-demand Learning</h3>

                                <p>Watch our on-demand R courses on <b>LinkedIn Learning</b> by purchasing them a-la-carte or access 3000+ courses with a LinkedIn Premium subscription.</p>

                            </div>
                        </a>
                    </div>

                    <div class="col-md-4">
                        <a href="/consultancy">
                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                                </div>
                                <h3>Consultancy</h3>

                                <p>We provide a wide range of R consultancy services, including reporting and dashboarding using <code>RMarkdown</code> and <code>Shiny</code>.</p>

                            </div>
                        </a>
                    </div>


                    <div class="col-md-4">
                        <a href="/in-person-training">
                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-chalkboard-teacher" aria-hidden="true"></i>
                                </div>
                                <h3>In-person Training</h3>
                                <p>We're passionate about designing and delivering in-person R training courses with a focus on developing problem solving skills .</p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>


        </div>


        <div class="front-page-section" style="width:100%">

            <div class="row">

                <div class="col-md-6 hidden-xs">
                    <div class="fade-section first-page-fade-block" id="code-background-icon" data-aos="fade-right" style="background-color:#66c2a5;text-decoration-color:white;color:white;height:330px;">
                        <div class="inner">

                            <h2>Code</h2>

                            <span>Before you can feel confident reading or writing R code, there are some inescapable things you need to learn about the language and its syntax.</span>
                            <ul class="front-page-list">
                                <li>Brackets</li>
                                <li>snake_case vs CamelCase</li>
                                <li>Named and default arguments</li>

                            </ul>
                            <p><a style="color:white"><strong>R Code 101 article COMING SOON!</strong></a></p>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">

                    <div class="fade-section first-page-fade-block" id="code-background-icon" data-aos="fade-right" style="background-color:#66c2a5;text-decoration-color:white;color:white;height:380px">
                        <div class="inner">
                            <h2>Code</h2>

                            <span>Before you can feel confident reading or writing R code, there are some inescapable things you need to learn about the language and its syntax.</span>
                            <ul class="front-page-list">
                                <li>Brackets</li>
                                <li>snake_case vs CamelCase</li>
                                <li>Named and default arguments</li>

                            </ul>
                            <p><a style="color:white"><strong>R Deprecation 101 article COMING SOON!</strong></a></p>
                        </div>

                    </div>

                </div>


                <div class="col-md-6 hidden-xs">

                    <div class="fade-section first-page-fade-block" id="workflow-background-icon" data-aos="fade-left" style="background-color:#fc8d62;text-decoration-color:white;color:white;height:330px">
                        <div class="inner">
                            <h2>Workflow</h2>

                            <span>Often the most tricky part of becoming confident in using R is getting used to the workflow, including;</span>
                            <ul class="front-page-list">
                                <li>Script files, the console and prompt</li>
                                <li>Finding, installing and using packages</li>
                                <li>RStudio projects</li>
                            </ul>
                            <p><a style="color:white"><strong>R Workflows 101 article COMING SOON!</strong></a></p>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">

                    <div class="fade-section first-page-fade-block" id="workflow-background-icon" data-aos="fade-right" style="background-color:#fc8d62;text-decoration-color:white;color:white;height:350px">
                        <div class="inner">
                            <h2>Workflow</h2>

                            <span>Often the most tricky part of becoming confident in using R is getting used to the workflow, including;</span>
                            <ul class="front-page-list">
                                <li>Script files, the console and prompt</li>
                                <li>Finding, installing and using packages</li>
                                <li>RStudio projects</li>
                            </ul>
                            <p><a style="color:white"><strong>R Workflows 101 article COMING SOON!</strong></a></p>
                        </div>
                    </div>

                </div>

            </div>


        </div>

        <div class="front-page-section" style="width:100%">

            <div class="row">

                <div class="col-md-6 hidden-xs">

                    <div class="fade-section first-page-fade-block" id="data-background-icon" data-aos="fade-right" style="background-color:#8da0cb;text-decoration-color:white;color:white;height:330px">
                        <div class="inner">
                            <h2>Data</h2>

                            <span>Most folks are using R to clean, wrangle or otherwise trying to get data to behave. You'll need to understand:</span>

                            <ul class="front-page-list">
                                <li>Rectangular data structures</li>
                                <li>Subsetting, filtering and indexing data</li>
                                <li>Importing data from .csv, Excel, databases...</li>

                            </ul>
                            <p><a style="color:white"><strong>R Data 101 article COMING SOON!</strong></a></p>
                        </div>

                    </div>

                </div>

                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">

                    <div class="fade-section first-page-fade-block" id="data-background-icon" data-aos="fade-right" style="background-color:#8da0cb;text-decoration-color:white;color:white;height:380px">
                        <div class="inner">
                            <h2>Data</h2>

                            <span>Most folks are using R to clean, wrangle or otherwise trying to get data to behave. You'll need to understand:</span>

                            <ul class="front-page-list">
                                <li>Rectangular data structures</li>
                                <li>Subsetting, filtering and indexing data</li>
                                <li>Importing data from .csv, Excel, databases...</li>

                            </ul>
                            <p><a style="color:white"><strong>R Data 101 article COMING SOON!</strong></a></p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 hidden-xs">

                    <div class="fade-section first-page-fade-block" id="communicate-background-icon" data-aos="fade-left" style="background-color:#e78ac3;text-decoration-color:white;color:white;height:330px">
                        <div class="inner">
                            <h2>Communicate</h2>

                            <span>R has incredible tools for visualising your data, models and analyses. These include the following tools:</span>

                            <ul class="front-page-list">
                                <li>Static dataviz with ggplot2</li>
                                <li>Create PDF, HTML, Word reports with RMarkdown</li>
                                <li>Interactive dashboards with Shiny</li>
                            </ul>
                            <p><a style="color:white"><strong>R Communicate 101 article COMING SOON!</strong></a></p>
                        </div>
                    </div>

                </div>


                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">

                    <div class="fade-section first-page-fade-block" id="communicate-background-icon" data-aos="fade-right" style="background-color:#e78ac3;text-decoration-color:white;color:white;height:380px">
                        <div class="inner">
                            <h2>Communicate</h2>

                            <span>R has incredible tools for visualising your data, models and analyses. These include the following tools:</span>

                            <ul class="front-page-list">
                                <li>Static dataviz with ggplot2</li>
                                <li>Create PDF, HTML, Word reports with RMarkdown</li>
                                <li>Interactive dashboards with Shiny</li>
                            </ul>
                            <p><a style="color:white"><strong>R Communicate 101 article COMING SOON!</strong></a></p>
                        </div>
                    </div>

                </div>

            </div>


        </div>

        <div class="front-page-section" style="width:100%">

            <div class="fade-section first-page-fade-block first-page-program-panel" id="program-background-icon" data-aos="fade-top" style="background-color:#a6d854;text-decoration-color:black;color:black">
                <div class="inner">
                    <h2>Program</h2>

                    <div class="row">

                        <div class="col-md-7 hidden-sm hidden-xs" style="padding-top:15px">

                            <span>Many businesses rely on complicated Excel-based workflows for compiling scheduled reports. These workflows almost always involve significant manual effort because the data-containing Excel workbooks change frequently.</span>

                            <br>
                            <br>

                            <!--
                            <span>Exploratory analysis is a thoroughly manual process in Excel, it's simply not possible automatically iterate through multiple combinations of variables or to create charts of all variables that meet certain conditions.</span>
                            
                            <br>
                            <br>
                            
                            <span>More complex workflows will involve repeating the same process across multiple sets of data sources, potentially including databases and the output of web scrapes. Without using a programming language, this will be not only time intensive but thoroughly error prone.</span>
                            
                            <br>
                            <br> -->

                            <span>Starting to use a scripting language for your data-based workflows takes a little getting used to. But once you've got the basic concepts under your belt you'll find significant time savings, reduced manual interventions and the ability to <strong>programmatically test outputs are valid.</strong></span>
                            <br>
                            <br>
                            <span>There are three fundamental things you need to learn before you can successfully solve your problems programmatically.</span>

                            <ul class="front-page-list">
                                <li>Designing user-defined functions</li>
                                <li>Repeating actions with loops and/or maps</li>
                                <li>Handling errors, missing data and NAs</li>
                            </ul>
                            <br>
                            <p><a style="color:white"><strong>R Programming 101 article COMING SOON!</strong></a></p>


                        </div>


                        <div class="col-md-5 hidden-sm hidden-xs" style="padding-top:15px">

                            <div class="first-page-title">

                                <div class="card-body v-center">

                                    <center><img src="/img/excel-changes-each-month.png" style="padding:30px;min-width:400px;width:100%;display: block" /></center>

                                </div>
                            </div>


                        </div>

                    </div>
                </div>

                <div class="row">

                    <div class="col-xs-12 hidden-md hidden-lg">

                        <div style="background-color:#a6d854;text-decoration-color:black;color:black;height:400px">

                            <span>Many businesses rely on complicated Excel-based workflows for compiling scheduled reports. These workflows almost always involve significant manual effort because the data-containing Excel workbooks change frequently.</span>

                            <br>
                            <br>

                            <span>Starting to use a scripting language for your data-based workflows takes a little getting used to. But once you've got the basic concepts under your belt, you'll find significant time savings, reduced manual interventions and the ability to <strong>programmatically test outputs are valid.</strong></span>

                            <center><img src="/img/excel-changes-each-month.png" style="padding:5px;min-width:180px;width:30%;display: block" /></center>

                            <span>There are three fundamental things you need to learn before you can successfully solve your problems programmatically.</span>
                            <ul class="front-page-list">
                                <li>Designing user-defined functions</li>
                                <li>Repeating actions with loops and/or maps</li>
                                <li>Handling errors, missing data and NAs</li>
                            </ul>
                            <p><a style="color:white"><strong>R Programming 101 article COMING SOON!</strong></a></p>

                        </div>


                    </div>

                </div>




            </div>

        </div>

        <div class="front-page-section" style="width:100%">

            <div class="fade-section first-page-fade-block first-page-deprecation-panel" data-aos="fade-top" style="background-color:#9E9E9E;text-decoration-color:white;color:white">
                <div class="inner">
                    <h2>Deprecation</h2>



                    <div class="row">


                        <div class="col-md-6">

                            <!--=<p>While using code to solve problems allows much greater flexibility than point-and-click software like Excel, it also brings its own drawbacks.<br>
                                                <br> --->
                            <p>New features are added to point-and-click software as buttons or wizards, and old features are taken away by removing buttons.</p>
                            <p>But in code, things are more complicated.</p>
                            <ul class="front-page-list">
                                <li>Developers might choose to <strong>modify</strong> how an existing function works.</li>
                                <li>Developers might <strong>replace</strong> an old function with a new one, e.g. replacing <code>spread()</code> with the more generic <code>pivot_wide()</code></li>
                                <li>Developers might <strong>abandon</strong> an entire package for a myriad of different reasons.<a href="#let-off-devs" style="color:white" title="Maintaining and developing packages is a serious time commitment, devs will always have a reason for abandoning a package - please don't give them grief."><sup>1</sup></a></li>
                                <li>Underling <strong>API may change without warning</strong>, making a package unusable until the developers release an update.</li>
                                <li>While often several packages solving the same problem will coexist and even be used together, sometimes <strong>new packages essentially replaces older alternative</strong>.</li>
                            </ul>


                        </div>

                        <div class="col-md-6">

                            <center>
                                <caption>Data wrangling epochs in the R ecosystem</caption>
                                <div id="htmlwidget-7ff8728ebbe1874bb5fe" class="timevis html-widget" style="min-width:450px;width:80%;height:350px;background:white;text-align:left">
                                    <div class="btn-group zoom-menu">
                                        <button type="button" class="btn btn-default btn-lg zoom-in" title="Zoom in">+</button>
                                        <button type="button" class="btn btn-default btn-lg zoom-out" title="Zoom out">-</button>
                                    </div>
                                </div>
                            </center>


                            <script type="application/json" data-for="htmlwidget-7ff8728ebbe1874bb5fe">
                                {
                                    "x": {
                                        "items": [{
                                            "package": "reshape",
                                            "approach": "Melt and cast",
                                            "defining.functions": "melt; cast; recast",
                                            "actively.supported": "FALSE",
                                            "start": "2005-08-05",
                                            "end": "2010-09-10",
                                            "approach.descrip": "<h1>Melt and cast<\/h1><p>Created by Hadley Wickham<\/p>",
                                            "group": "1",
                                            "id": "1",
                                            "subgroup": "1.1",
                                            "content": "reshape"
                                        }, {
                                            "package": "reshape2",
                                            "approach": "Melt and cast",
                                            "defining.functions": "melt; cast; recast",
                                            "actively.supported": "FALSE",
                                            "start": "2010-09-10",
                                            "end": "2017-12-10",
                                            "approach.descrip": "<h1>Melt and cast<\/h1><p>Created by Hadley Wickham<\/p>",
                                            "group": "1",
                                            "id": "2",
                                            "subgroup": "1.2",
                                            "content": "reshape2"
                                        }, {
                                            "package": "data.table",
                                            "approach": "data.table",
                                            "defining.functions": "data[, .]; melt",
                                            "actively.supported": "TRUE",
                                            "start": "2006-04-14",
                                            "end": "2019-08-01",
                                            "approach.descrip": "<h2>data.table<\/h2><p>A fundamental revision of how data.frames work.<br> Well respected as a more efficient solution for mid to large datasets (>2Gb)<\/p>",
                                            "group": "2",
                                            "id": "4",
                                            "subgroup": "2.1",
                                            "content": "data.table"
                                        }, {
                                            "package": "plyr",
                                            "approach": "Split, apply and combine",
                                            "defining.functions": "ddply; aaply; mdply",
                                            "actively.supported": "FALSE",
                                            "start": "2008-09-30",
                                            "end": "2018-12-05",
                                            "approach.descrip": "Split, apply and combine",
                                            "group": "3",
                                            "id": "3",
                                            "subgroup": "3.1",
                                            "content": "plyr"
                                        }, {
                                            "package": "tidyr",
                                            "approach": "Tidy data",
                                            "defining.functions": "gather; spread",
                                            "actively.supported": "TRUE",
                                            "start": "2014-01-16",
                                            "end": "2019-08-01",
                                            "approach.descrip": "Tidy data",
                                            "group": "4",
                                            "id": "5",
                                            "subgroup": "4.1",
                                            "content": "tidyr"
                                        }],
                                        "groups": [{
                                            "approach": "Melt and cast",
                                            "approach.descrip": "<h1>Melt and cast<\/h1><p>Created by Hadley Wickham<\/p>",
                                            "content": "Melt and cast",
                                            "id": "1"
                                        }, {
                                            "approach": "data.table",
                                            "approach.descrip": "<h2>data.table<\/h2><p>A fundamental revision of how data.frames work.<br> Well respected as a more efficient solution for mid to large datasets (>2Gb)<\/p>",
                                            "content": "data.table",
                                            "id": "2"
                                        }, {
                                            "approach": "Split, apply and combine",
                                            "approach.descrip": "Split, apply and combine",
                                            "content": "Split, apply and combine",
                                            "id": "3"
                                        }, {
                                            "approach": "Tidy data",
                                            "approach.descrip": "Tidy data",
                                            "content": "Tidy data",
                                            "id": "4"
                                        }],
                                        "showZoom": true,
                                        "zoomFactor": 0.5,
                                        "fit": true,
                                        "options": {
                                            "stack": false,
                                            "showCurrentTime": false
                                        },
                                        "height": "350px",
                                        "api": []
                                    },
                                    "evals": [],
                                    "jsHooks": []
                                }

                            </script>
                            <script type="application/htmlwidget-sizing" data-for="htmlwidget-7ff8728ebbe1874bb5fe">
                                {"viewer":{"width":450,"height":350,"padding":15,"fill":true},"browser":{"width":900,"height":350,"padding":40,"fill":false}}

                            </script>

                        </div>

                        <!---<div class="col-sm-12 hidden-lg hidden-md hidden-xs">

                        <center>
                            <caption>Data wrangling epochs in the R ecosystem (SM)</caption>
                            <div id="htmlwidget-datawrangling-timeline-sm" class="timevis html-widget" style="min-width:450px;width:80%;height:300px;background:white;text-align:left">
                                <div class="btn-group zoom-menu">
                                    <button type="button" class="btn btn-default btn-lg zoom-in" title="Zoom in">+</button>
                                    <button type="button" class="btn btn-default btn-lg zoom-out" title="Zoom out">-</button>
                                </div>
                            </div>
                        </center>

                        <script type="application/json" data-for="htmlwidget-datawrangling-timeline-sm">
                            {
                                "x": {
                                    "items": [{
                                        "package": "reshape",
                                        "approach": "Melt and cast",
                                        "defining.functions": "melt; cast; recast",
                                        "actively.supported": "FALSE",
                                        "start": "2005-08-05",
                                        "end": "2010-09-10",
                                        "approach.descrip": "<h1>Melt and cast<\/h1><p>Created by Hadley Wickham<\/p>",
                                        "group": "1",
                                        "id": "1",
                                        "subgroup": "1.1",
                                        "content": "reshape"
                                    }, {
                                        "package": "reshape2",
                                        "approach": "Melt and cast",
                                        "defining.functions": "melt; cast; recast",
                                        "actively.supported": "FALSE",
                                        "start": "2010-09-10",
                                        "end": "2017-12-10",
                                        "approach.descrip": "<h1>Melt and cast<\/h1><p>Created by Hadley Wickham<\/p>",
                                        "group": "1",
                                        "id": "2",
                                        "subgroup": "1.2",
                                        "content": "reshape2"
                                    }, {
                                        "package": "data.table",
                                        "approach": "data.table",
                                        "defining.functions": "data[, .]; melt",
                                        "actively.supported": "TRUE",
                                        "start": "2006-04-14",
                                        "end": "2019-08-01",
                                        "approach.descrip": "<h2>data.table<\/h2><p>A fundamental revision of how data.frames work.<br> Well respected as a more efficient solution for mid to large datasets (>2Gb)<\/p>",
                                        "group": "2",
                                        "id": "4",
                                        "subgroup": "2.1",
                                        "content": "data.table"
                                    }, {
                                        "package": "plyr",
                                        "approach": "Split, apply and combine",
                                        "defining.functions": "ddply; aaply; mdply",
                                        "actively.supported": "FALSE",
                                        "start": "2008-09-30",
                                        "end": "2018-12-05",
                                        "approach.descrip": "Split, apply and combine",
                                        "group": "3",
                                        "id": "3",
                                        "subgroup": "3.1",
                                        "content": "plyr"
                                    }, {
                                        "package": "tidyr",
                                        "approach": "Tidy data",
                                        "defining.functions": "gather; spread",
                                        "actively.supported": "TRUE",
                                        "start": "2014-01-16",
                                        "end": "2019-08-01",
                                        "approach.descrip": "Tidy data",
                                        "group": "4",
                                        "id": "5",
                                        "subgroup": "4.1",
                                        "content": "tidyr"
                                    }],
                                    "groups": [{
                                        "approach": "Melt and cast",
                                        "approach.descrip": "<h1>Melt and cast<\/h1><p>Created by Hadley Wickham<\/p>",
                                        "content": "Melt and cast",
                                        "id": "1"
                                    }, {
                                        "approach": "data.table",
                                        "approach.descrip": "<h2>data.table<\/h2><p>A fundamental revision of how data.frames work.<br> Well respected as a more efficient solution for mid to large datasets (>2Gb)<\/p>",
                                        "content": "data.table",
                                        "id": "2"
                                    }, {
                                        "approach": "Split, apply and combine",
                                        "approach.descrip": "Split, apply and combine",
                                        "content": "Split, apply and combine",
                                        "id": "3"
                                    }, {
                                        "approach": "Tidy data",
                                        "approach.descrip": "Tidy data",
                                        "content": "Tidy data",
                                        "id": "4"
                                    }],
                                    "showZoom": true,
                                    "zoomFactor": 0.5,
                                    "fit": true,
                                    "options": {
                                        "stack": false,
                                        "showCurrentTime": false
                                    },
                                    "height": "300px",
                                    "api": []
                                },
                                "evals": [],
                                "jsHooks": []
                            }
                        </script>
                        <script type="application/htmlwidget-sizing" data-for="htmlwidget-datawrangling-timeline-sm">
                            {"viewer":{"width":450,"height":300,"padding":15,"fill":true},"browser":{"width":900,"height":300,"padding":40,"fill":false}}
                        </script>

                    </div>-->


                    </div>

                    <p>These are some of the ways that you'll encounter <i>deprecation</i> when writing code in R. One of the biggest hurdles to becoming fluent in R is gaining the confidence to decide which packages to use and how to handle these different types of deprecation.</p>

                    <p><a style="color:white"><strong>R Deprecation 101 article COMING SOON!</strong></a></p>
                </div>
            </div>

        </div>

        <!---
        {{ partial "carousel.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "clients.html" . }}

--->

        {{ partial "footer.html" . }}

        <!-- /#all -->

        {{ partial "scripts.html" . }}

    </body>

    </html>
